In [62]:
%matplotlib inline

import matplotlib
import pandas as pd
import numpy as np
import csv

train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')

In [63]:
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [80]:
survived_rate = train_df['Survived'].mean()
print survived_rate

0.382452193476

In [65]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [66]:
def missing_data(dataframe):
    return pd.isnull(dataframe).sum()

missing_data(train_df)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [67]:
embarked_missing_datas = train_df[train_df['Embarked'].isnull()]
embarked_missing_datas.index

Int64Index([61, 829], dtype='int64')

In [68]:
train_df.drop([61, 829], axis=0, inplace=True)

In [70]:
missing_data(train_df)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [85]:
survived_qtd = len(train_df) * survived_rate
print(survived_qtd)

340.0

In [74]:
train_df.groupby(['Sex', 'Survived']).count()

                 PassengerId  Pclass  Name  Age  SibSp  Parch  Ticket  Fare  \
Sex    Survived
female 0                  81      81    81   64     81     81      81    81
       1                 231     231   231  195    231    231     231   231
male   0                 468     468   468  360    468    468     468   468
       1                 109     109   109   93    109    109     109   109

                 Cabin  Embarked
Sex    Survived
female 0             6        81
       1            89       231
male   0            62       468
       1            45       109

In [79]:
train_df.groupby(['Pclass', 'Survived']).count()

                 PassengerId  Name  Sex  Age  SibSp  Parch  Ticket  Fare  \
Pclass Survived
1      0                  80    80   80   64     80     80      80    80
       1                 134   134  134  120    134    134     134   134
2      0                  97    97   97   90     97     97      97    97
       1                  87    87   87   83     87     87      87    87
3      0                 372   372  372  270    372    372     372   372
       1                 119   119  119   85    119    119     119   119

                 Cabin  Embarked
Pclass Survived
1      0            59        80
       1           115       134
2      0             3        97
       1            13        87
3      0             6       372
       1             6       119

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64